.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  background: #fb6252;
  width: 100%;
  display: flex;
  justify-content: center;
}

.logotipo {}

.main {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.table {
  width: 100%;
  display: table;
  border-spacing: 0
}

.table thead {
  display: table-header-group;
}

.table thead tr, .table tbody tr {
  display: table-row;
  outline: 0;
  vertical-align: middle;
}

.table thead th {
  top: 0;
  left: 0;
  z-index: 2;
  position: sticky;  
  text-align: left;
  background: #fff;
  font-weight: 500;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.table tbody {
  display: table-row-group;
}

.table thead th, .table tbody td {
  padding: 8px 0 8px 8px;
}

.table tbody td {
  text-align: left;
  background: #fff;
  font-size: 0.875rem;
  border-bottom: 1px solid rgba(224, 224, 224, 1);
}


.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}